@font-face {
  font-family: 'RobotoMono';
  src: url('/fonts/RobotoMono-VariableFont_wght.ttf') format('woff');
}

body {
  font-family: 'RobotoMono';
  font-size: 24px;
  background-color: #c36868;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
