@font-face {
  font-family: 'RobotoMono';
  src: url('/fonts/RobotoMono-VariableFont_wght.ttf') format('woff');
}

body {
  font-family: 'RobotoMono';
  font-size: 24px;
  background-color: #c36868;
}
